body{
  margin: 0;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  display: flex;
 
}
header {
  text-align: center;
  background-color: #3D85C6;
  padding: 0 25px;
  color: whitesmoke;
}
  section { 
  padding: 20px;
  text-align: center; 
}
.bar { 
  display: block;
  width: 20em;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  background-color: #2a2a2a;
}
.progress {
  display: block;
  width: 10em;
  height: 100%;
  background-color: tomato;
}
