body{
  margin: 0;
  flex-direction: column;
  height: 100%;
  
  display: flex;
 
}
header {
  text-align: center;
  background-color: #3D85C6;
  padding: 0 25px;
  color: whitesmoke;
}
  section { 
  padding: 20px;
  text-align: center; 
}
article {
  height: 100%;
  margin: 0px;
  padding: 0;
}
.bar { 
  display: block;
  width: 20em;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  background-color: #2a2a2a;
}
.progress {
  display: block;
  width: 10em;
  height: 100%;
  background-color: tomato;
}

form input, textarea {
  margin: 10px 0;
  border: 0;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
  width: 420px
}

figure.hero {
  position: relative;
  height: 0;
  padding-left: 0;
  padding-bottom: 15%;
  overflow: hidden;
  margin: 0
}

img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%
