body {
  margin: 0;
}
header {
  background-color: slateblue;
  padding: 5px 20px;
  color: whitesmoke;
}
main {
  padding: 20px 20px;
  background-color: #eaeaea;
}
article {
  margin: 0px;
  height: 100%;
  padding: 0;
}
section {
  padding: 20px;
  margin-bottom: 20px;
}
section h3 {
  margin: 10px 0;
}
.box {
  border: 2px solid;
  background-color: white;
}
.bar {
  width: 400px;
}
.progress {
  width: 300px;
}
#classes {
  color: slateblue;
}
#ids {
  color: tomato;
}
#classes > P > b, #ids li > b {
  color: goldenrod;
}
#inline * {
  display: inline-block;
  width: 200px;
  height: 100px;
}
#block * {
  display: inline-block;
  width: 200px;
  height: 200px;
}
